.jumbotron 
{
 	background-color:#17015c;
 	color: white;


 }

footer 
{

 	padding: 10px 10px 0 10px;
 	background-color: #17015c;
 	color: white;
 	margin-botton:; 0px;
 	margin-top: 20px;
 }

 .card-hotel{
 	margin-top: 40px;
 	margin-bottom: : 400px;
 	margin-left: 50px;
 	margin-right: 40px;
 	flex:1 200px;
 }

 .btn-reserva {
 	width: 100%
 	border-radius: 3px;
 	
 	

 }
 .footer-address-icon {
	padding-right: 10px;

 }

 .espacio-arriba-abajo
{
	margin-bottom: 20px; 
	margin-top: 10px;
 	margin-left: 5px;
 	margin-right: 5px;

}

.tab-content {

	padding-top: 10px
}